<app-divider>
    Segment Component
</app-divider>
<app-segment>
    <!-- <div class="icon-header">
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </div> -->
    <button class="ui primary button">Add Document</button>
</app-segment>
<br />
<app-segment>
    <div class="icon-header">
        <i class="add icon"></i>
        Add Something.
    </div>
    <button class="ui primary button">Click</button>
</app-segment>
<br />
<app-divider>
    Placeholder Component
</app-divider>
<app-placeholder [header]="true" [lines]="9">
</app-placeholder>