<!-- bootstrap -->
<!-- <nav class="navbar navbar-expand navbar-light bg-light justify-content-center">
    <ul class="nav navbar-nav justify-content-evenly w-100">
        <li class="nav-item">
            <a class="nav-link" routerLink="/elements" routerLinkActive="active">Elements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/collections" routerLinkActive="active">Collections</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/views" routerLinkActive="active">Views</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/mods" routerLinkActive="active">Modules</a>
        </li>
    </ul>
</nav>
<div class="ui segment">
    <router-outlet></router-outlet>
</div> -->

<!-- semantic ui -->
<div class="ui container">
    <div class="ui secondary menu pointing">
        <a routerLink="/" class="item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/elements" routerLinkActive="active" class="item">Elements</a>
        <a routerLink="/collections" routerLinkActive="active" class="item">Collections</a>
        <a routerLink="/mods" routerLinkActive="active" class="item">Modules</a>
        <!-- 另一種 binding routerLink 的用法，值加入陣列 -->
        <a [routerLink]="['/', 'views']" routerLinkActive="active" class="item">Views</a>
    </div>
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>